@model IEnumerable<BlogMVC.Models.Post>
@{
    ViewData["Title"] = "BlogNow";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    @Html.AntiForgeryToken();
    @await Html.PartialAsync("_SidebarMenu")
    <br />
    <br />
    <br />
    <h1>@ViewData["Title"]</h1>
    <div class="container-post"></div>
    @await Html.PartialAsync("_PostList", new BlogMVC.Models.ViewModels.PostListViewModel() {
        Posts = Model,
        Email = null
    })
    <script>
        window.email = "@User.Identity.Name";
    </script>
    <script src="~/js/like.js"></script>
    @if(User.Identity.IsAuthenticated) {
        <script src="~/js/postPartialView.js"></script>
    }
    @await Html.PartialAsync("_Pages")
</body>
</html>