@model BlogMVC.Models.User;
@{
    ViewData["Title"] = Model.NickName;
}
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>
<h6>@Model.UserName</h6>
<br />
@if (Model.Posts != null){
    foreach(var post in Model.Posts) {
        <p>@Html.DisplayFor(ModelItem => post.Message)</p>
        <br />
    }
}
