body {
    background-color: #36454F;
    color: lightgray;
}

.user-follow {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

user-follow:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #fff; 
}

.sidebar {
    position: fixed;
    top: 40px;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

    .sidebar h2 {
        margin-top: 0;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

        .sidebar ul li {
            margin: 10px 0;
        }

            .sidebar ul li a {
                color: white;
                text-decoration: none;
            }

                .sidebar ul li a:hover {
                    text-decoration: underline;
                }

.like-count {
    margin: 10px 10px 10px 0;
    padding: 10px;
    display: inline-block;
}

.user {
    color: plum;
    text-decoration: none;
}
.user:hover{
    color: blueviolet;
    text-decoration: underline;
    
}

.Post{
    height: auto;
    width: 300px;
    padding: 0 0px 0px 10px;
    border: solid;
    border-color: mediumpurple;
}



.heart {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: gray;
    transform: rotate(-45deg);
    margin: 0px;
    border: 0px;
    cursor: pointer;
}

    .heart::before,
    .heart::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: gray;
        border-radius: 50%;
    }

    .heart::before {
        top: -5px;
        left: 0;
    }

    .heart::after {
        bottom: 0;
        right: -5px;
    }

    .heart::before,
    .heart::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: gray;
        border-radius: 50%;
    }

    .heart::before {
        top: -5px;
        left: 0;
    }

    .heart::after {
        bottom: 0;
        right: -3px;
    }

.heart-liked {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: mediumpurple;
    transform: rotate(-45deg);
    margin: 0px;
    border: 0px;
    cursor: pointer;
}

    .heart-liked::before,
    .heart-liked::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: mediumpurple;
        border-radius: 50%;
    }

    .heart-liked::before {
        top: -5px;
        left: 0;
    }

    .heart-liked::after {
        bottom: 0;
        right: -5px;
    }

    .heart-liked::before,
    .heart-liked::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: mediumpurple;
        border-radius: 50%;
    }

    .heart-liked::before {
        top: -5px;
        left: 0;
    }

    .heart-liked::after {
        bottom: 0;
        right: -3px;
    }