<div class="sidebar">
    <h2>Menu</h2>
    <ul>
        <li><a asp-action="Index" asp-controller="Post">Create a Post</a></li>
        <li><a asp-action="Following" asp-controller="Follow">Following</a></li>
        <li><a asp-action="Followed" asp-controller="Follow">Followed</a></li>
    </ul>
</div>