<div class="sidebar">
    <h2>Menu</h2>
    <ul>
        <li><a asp-action="Create" asp-controller="Main">Create a Post</a></li>
        <li><a asp-action="Following" asp-controller="Main">Following</a></li>
        <li><a asp-action="Followed" asp-controller="Main">Followed</a></li>
    </ul>
</div>