@model BlogMVC.Models.ViewModels.SearchNavbarViewModel

<div class="search-navbar">
    <a class="search-nav-item @(Model.Tab.Equals("user") ? "purple" : "black")"
       href="@Url.Action("User", null, new { text = ViewBag.text, page = 1 })">
        Users
    </a>
    <a class="search-nav-item @(Model.Tab.Equals("post") ? "purple" : "black")"
       href="@Url.Action("Post", null, new { text = ViewBag.text, page = 1 })">
        Posts
    </a>
</div>

<style>
    body, html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    .search-navbar {
        display: flex;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: 40px;
        z-index: 1;
    }

    .search-nav-item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

    .purple {
        background-color: #4B0082;
        border-right: 2px solid #000;
    }

    .black {
        background-color: #000;
    }

    .purple:hover {
        background-color: #6A0DAD;
        color: white;
    }

    .black:hover {
        background-color: #333; 
        color: white;
    }
</style>