@model BlogMVC.Models.ViewModels.SearchNavbarViewModel

<div class="search-navbar">
    <a class="search-nav-item @(Model.Tab.Equals("user") ? "purple" : "black")"
       href="@Url.Action("User", null, new { text = ViewBag.text, page = 1 })">
        Users
    </a>
    <a class="search-nav-item @(Model.Tab.Equals("post") ? "purple" : "black")"
       href="@Url.Action("Post", null, new { text = ViewBag.text, page = 1 })">
        Posts
    </a>
</div>