@model BlogMVC.Models.ViewModels.PageResult<Post>

<html>
    <head>
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </head>
    <body>
    <div class="container-post"></div>
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("_SearchNavBar", new BlogMVC.Models.ViewModels.SearchNavbarViewModel() {
            Tab = "post" 
        })
        <div class="container-skip-125">
            @await Html.PartialAsync("_PostList", new BlogMVC.Models.ViewModels.PostListViewModel() {
                Posts = Model.Items
            })
        </div>
    @await Html.PartialAsync("_Pages")
    <script>
        window.email = "@User.Identity.Name";
    </script>
    <script src="~/js/likes.js"></script>
    <script src="~/js/postRenderPartialView.js"></script>
    </body>
</html>
